In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

# Reprocessing Train Data (2019 loan)

In [3]:
train_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [4]:
#remove loan_status column
X_train = train_df.drop('loan_status', axis=1)
X_train.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,n,29.99,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,n,11.26,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,n,11.28,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,n,18.08,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,n,27.77,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [5]:
# Convert categorical data to numeric and separate target feature for training data
X_train = pd.get_dummies(X_train)
X_train.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,0,1,0,1,1,0,1,0,1,0

In [6]:
# Converting output labels to 0 and 1
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
y_train = LabelEncoder().fit_transform(train_df['loan_status'])
y_train

array([1, 1, 1, ..., 0, 0, 0])

# Reprocessing Test Data (2020 loan)

In [7]:
test_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,67991,67991,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,low_risk,n,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,N,N
1,25429,25429,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,low_risk,n,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,N,N
2,38496,38496,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,low_risk,n,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,N,N
3,19667,19667,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,N,N
4,37505,37505,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,low_risk,n,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,N,N

In [8]:
#remove loan_status column
X_test = test_df.drop('loan_status', axis=1)
X_test.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,67991,67991,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,n,19.75,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,N,N
1,25429,25429,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,n,11.52,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,N,N
2,38496,38496,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,n,6.74,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,N,N
3,19667,19667,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,n,12.13,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,N,N
4,37505,37505,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,n,16.08,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,N,N

In [9]:
# Convert categorical data to numeric and separate target feature for testing data
X_test = pd.get_dummies(X_test)
X_test.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,0,1,0,1,1,0,1,0,1
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,0,1,0,1,1,0,1,0,1
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,0,1,0,1,1,0,1,0,1
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,0,1,0,1,1,0,1,0,1
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,0,1,0,1,1,0,1,0,1

In [10]:
# add missing dummy variables to testing set
for i in list(X_train):
    if i not in list(X_test):
        X_test[i] = 0
        
X_test.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,1,0,1,1,0,1,0,1,0
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,1,0,1,1,0,1,0,1,0
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,1,0,1,1,0,1,0,1,0
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,1,0,1,1,0,1,0,1,0
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,1,0,1,1,0,1,0,1,0

In [11]:
# Converting output labels to 0 and 1
y_test = LabelEncoder().fit_transform(test_df['loan_status'])
y_test

array([1, 1, 1, ..., 0, 0, 0])

In [12]:
from sklearn.metrics import classification_report
target_names = ["high_risk", "low_risk"]
def test_model(model, data):
    X_train, X_test, y_train, y_test = data
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f"Training Data Score: {model.score(X_train, y_train)}")
    print(f"Testing Data Score: {model.score(X_test, y_test)}")

In [13]:
data = [X_train, X_test, y_train, y_test]

# K Nearest Neighbors

In [14]:
from sklearn.neighbors import KNeighborsRegressor
test_model(KNeighborsRegressor(), data)

Training Data Score: 0.29041707717569776
Testing Data Score: -0.4519438536792857

# Logistic Regression Model

In [15]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
test_model(LogisticRegression(), data)

Training Data Score: 0.6485221674876848
Testing Data Score: 0.5253083794130158

C:\Users\trang\.conda\envs\py36\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Random Forest Classifier Model

In [16]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.5837941301573798

# Result Assessment

In the logistic regression model, the gap between R^2 on training data and test data  is small so the model fit to full data set does not have many noisy parameters to confuse the model and we get an accurate model.

In the random forest classifier model and the KNearest model, the gap between R^2 on training data and test data  is bigger so the model fit to full data set is overfitting data and the noisy parameters to confuse the model.

# Scale Data

In [17]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
data = [X_train_scaled, X_test_scaled, y_train, y_test]

# K Nearest Neighbors with scaled data

In [18]:
test_model(KNeighborsRegressor(), data)

Training Data Score: 0.3311395730706075
Testing Data Score: -0.25039557635048926

# Logistic Regression Model with scaled data

In [19]:
# Train a Logistic Regression model on the scaled data and print the model score
test_model(LogisticRegression(), data)

Training Data Score: 0.713136288998358
Testing Data Score: 0.7201190982560612

C:\Users\trang\.conda\envs\py36\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Random Forest Classifier model on the scaled data

In [20]:
# Train a Random Forest Classifier model on the scaled data and print the model score
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.6252658443215653

# Result Assessment

In the logistic regression model, the gap between R^2 on scaled training data and test data  is smaller than on the fullset data and we get more accurate model with a small set of data.

In the random forest classifier model and the KNearest model, the gap between R^2 on training data and test data  is still big so there are still noisy parameters confuse the model.

# Undersampling for Imbalanced data

In [21]:
#undersampling data with NearMiss version 1
from imblearn.under_sampling import NearMiss
undersample = NearMiss(version=1, n_neighbors=3)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.635899617184177

In [22]:
#undersampling data with NearMiss version 2
undersample = NearMiss(version=2, n_neighbors=3)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.6218630370055296

In [23]:
#undersampling data with NearMiss version 3
undersample = NearMiss(version=3, n_neighbors=3)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.6120799659719268

In [24]:
#undersampling data with CondensedNearestNeighbour
from imblearn.under_sampling import CondensedNearestNeighbour
undersample = CondensedNearestNeighbour(n_neighbors=1)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.5

In [26]:
#undersampling data with TomekLinks
from imblearn.under_sampling import TomekLinks
undersample = TomekLinks()
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.6250531688643131

In [27]:
#undersampling data with EditedNearestNeighbours
from imblearn.under_sampling import EditedNearestNeighbours
undersample = EditedNearestNeighbours(n_neighbors=3)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 0.999864480281881
Testing Data Score: 0.5897490429604424

In [28]:
#undersampling data with OneSidedSelection
from imblearn.under_sampling import OneSidedSelection
undersample = OneSidedSelection(n_neighbors=1, n_seeds_S=200)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.5002126754572522

In [29]:
#undersampling data with NeighbourhoodCleaningRule
from imblearn.under_sampling import NeighbourhoodCleaningRule
undersample = NeighbourhoodCleaningRule(n_neighbors=3, threshold_cleaning=0.5)
undersample = OneSidedSelection(n_neighbors=1, n_seeds_S=200)
X_undersample, y_undersample = undersample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.506380263717567

# Oversampling data

In [30]:
#oversampling data with SMOTE
from imblearn.over_sampling import SMOTE
oversample = SMOTE()
X_undersample, y_undersample = oversample.fit_resample(X_train, y_train)
data = [X_undersample, X_test, y_undersample, y_test]
test_model(RandomForestClassifier(), data)

Training Data Score: 1.0
Testing Data Score: 0.6225010633772863

# Assessment

Apply undersampling and oversampling for imbalanced training data and use RandomForestClassifier model to train the new data set and predict on the test data but the result looks similar, the model is still overfitting.